/* Ctrl ; also works here, neat */

title {
    color: red;
    text-align: center;

}

h1 {
    color: yellowgreen  ;
}

p {
    color: blueviolet;
    border: solid 1px black;
    text-align: left;
}


#secondp {
    color: purple;
    border: solid 1px black;
    text-align: right;
}
